@font-face {
    font-family: "Gotham";
    src: url('../fonts/Gotham-Book.woff') format('woff'),
    url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Lato-Light";
    src: url("../fonts/Lato-Light.ttf");
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

html {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Lato-Light", sans-serif;
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
    font-size: 1.6rem;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

b,strong {
    font-weight: bolder
}

a {
    color: #408DDC;
    background-color: transparent
}

a:hover {
    color: black;
    text-decoration: none
}

a:not([href]):not([tabindex]) {
    text-decoration: none
}

img {
    vertical-align: middle;
    border-style: none
}

svg {
    overflow: hidden;
    vertical-align: middle
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

@media (min-width: 1400px) {
    .container {
        max-width:1320px
    }
}

.header {
    width: 100%;
    background-color: #408DDC;
    position: relative;
    margin-bottom: 100px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 42%;
}

.header-content__title {
    color: white;
    font-family: "Gotham", sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 56px;
}

.header-content__title.subtitle {
    font-size: 34px;
    margin-bottom: 20px;
}

.header-content__text {
    color: white;
    font-family: "Gotham", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.header-image {
    width: 52%;
}

.header-image img {
    width: 100%;
}

.main {
    margin-bottom: 125px;
}

.main-title {
    color: black;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.main-text {
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
}

.main-image {
    width: 100%;
    margin: 40px 0;
}

.main-image img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.specification-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 14px 0;
}

.specification-row:not(:last-child) {
    border-bottom: 1px solid #979797;
}

.specification-title {
    font-size: 20px;
    width: 400px;
}

.specification-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 20px;
    line-height: 26px;
}

.specification-content span {
    display: block;
}

.specification-content .small {
    font-size: 12px;
}

.specification-info {
    font-size: 12px;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 50px;
}

ol {
    margin-left: 20px;
}

@media screen and (max-width: 1500px) {
    .logo img {
        height: 200px;
    }
}

@media screen and (max-width: 1280px) {
    .logo img {
        height: 136px;
    }
}

@media screen and (max-width: 1200px) {
    .header-content__title {
        font-size: 42px;
        line-height: 50px;
    }

    .header-content__title.subtitle {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .main-title {
        font-size: 42px;
        margin-bottom: 20px;
    }

    .main-text {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .specification-title {
        font-size: 18px;
        width: 360px;
    }

    .specification-content {
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) {
    .header .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .header-content {
        width: 100%;
    }

    .header-image {
        width: 70%;
        margin: 0 auto 60px;
    }

    .specification-title {
        width: 260px;
    }
}

@media screen and (max-width: 480px) {
    .header-content__title {
        font-size: 36px;
        line-height: 42px;
    }

    .header-content__title.subtitle {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .main-title {
        font-size: 36px;
    }

    .main-text {
        font-size: 16px;
        line-height: 24px;
    }

    .specification-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .specification-title {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .specification-content {
        font-size: 14px;
        line-height: 22px;
    }

    .specification-content .small {
        line-height: 18px;
    }
}